@use "../../variables/v-colors.scss" as colors;
@use "../../variables/v-typografy.scss" as typografy;

.modal-container {
  /*   box-shadow: inset -2px -2px 20px (#b3c1dd),
    inset 0px -10px 20px (colors.$primary-light), 1px 5px 15px (#caccde); */
  color: colors.$primary-light;
  font-family: typografy.$font-body-boldItalic;
  background-image: linear-gradient(
    to right top,
    #004d7a,
    #005a87,
    #006894,
    #0076a1,
    #0096bc,
    #00b8d2,
    #30d9e4,
    #5ffbf1
  );
  h1 {
    font-family: typografy.$font-title;
    color: colors.$primary;
  }
  strong {
    font-family: typografy.$font-title;
    color: colors.$primary-4;
  }
}

#modal-section {
  h3 {
    color: colors.$primary-10;
    font-family: typografy.$font-title;
  }
  .modal-content-food {
    background: rgba(255, 255, 255);
    box-shadow: inset 2px -5px 5px rgba(0, 0, 0, 0.3),
      inset -2px -2px 2px (#d5d6d8);
    border: none;
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      img {
        width: 30%;
        border-radius: 5px;
      }
      p {
        text-align: start;
        margin: auto auto;
        color: colors.$primary-7;
      }
    }
    .modal-footer {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        i {
          font-size: 1.2rem;
        }
      }
    }
  }
}
