body {
  background-color: #1E1E1E;
  background: url("../../../assets/images/backgrounds/bg_colorful.jpg") center;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  };
}