@use "../variables/v-colors.scss" as colors;
@use "../variables/v-typografy.scss" as typografy;

#header-section{
  width: 95vw;
  text-align: center;
  align-self: end;
  h1{
    color: colors.$secondary-1;
    font-family: typografy.$font-title;
    font-size: typografy.$text-display-lg;
    span{
      color: colors.$primary-10;
    }
  }
}