@use "../mixins/mixins.scss" as _mixins;

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: .5rem 1rem;
  @include _mixins.glassmorphism();
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .nav-links {
    display: flex;
    justify-content: space-between;
    display: none;
    border: 1px solid white;
    transition: transform 0.4s ease-in;
    .nav-link i {
      color: #fff;
      font-size: 1.5rem;
    }
  }
  .chart-link-container {
    position: absolute;
    right: 1rem;
    .chart-nav-link{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.5rem;
    }
  }
}

.nav-link i:hover {
  color: #999;
}

.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 500px) {
  .nav-links {
    height: 0;
    overflow: hidden;
  }

  #show-nav {
    display: block;
    height: auto;
    width: 30vw;
    position: absolute;
    top: 85px;
    padding: 0.5rem 1rem;
    text-align: center;
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    @include _mixins.glassmorphism();
    border-radius: 5px;
    flex-direction: column;
    .nav-link{
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }

  .nav-toggle {
    display: block;
  }

  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
  }

  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
    }
    100% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
    }
    100% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  }
}
