@use "../../../variables/v-colors.scss" as colors;
@use "../../../variables/v-typografy.scss" as typografy;

#home-section{
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  p{
    color: colors.$secondary-1;
    font-family: typografy.$font-title;
    /* font-size: typografy.$text-display-s; */
    text-align: center;
    align-self: flex-start;
    padding: 5px;
  }

  .home-btn-container{
    align-self: self-start;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}