@use "../../../mixins/mixins.scss" as _mixins;
@use "../../../variables/v-colors.scss" as colors;
@use "../../../variables/v-typografy.scss" as typografy;

#init-section {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  p{
    color: colors.$secondary-1;
    font-family: typografy.$font-title;
    font-size: typografy.$text-display-s;
    text-align: center;
  }
  .btn-basic {
    justify-self: center;
  }
}

.log-container {
  align-self: flex-end;
  justify-self: center;
  color: #deb887;
}

.bi-chevron-double-right{
  margin-left: 2%;
}

