@use "../variables/v-typografy.scss" as typografy;
@use "../variables/v-breakpoints.scss" as media;

h1 {
  font-size: typografy.$text-display-xs;
}
.btn-basic {
  h3 {
    font-size: typografy.$text-display-xs;
  }
  p {
    font-size: typografy.$text-base-xs;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: media.$s-mobile-breakpoint) {
  h1 {
    font-size: typografy.$text-display-s;
  }
  p,
  ul {
    font-size: typografy.$text-base-s;
  }
  .btn-basic {
    h3 {
      font-size: typografy.$text-display-s;
    }
    p {
      font-size: typografy.$text-base-s;
    }
  }
}

@media screen and (min-width: media.$mobile-breakpoint) {
  h1 {
    font-size: typografy.$text-display;
  }
  p,
  ul {
    font-size: typografy.$text-base;
  }
  .btn-basic {
    h3 {
      font-size: typografy.$text-title;
    }
    p {
      font-size: typografy.$text-base;
    }
  }
}

@media screen and (min-width: media.$laptop-breakpoint) {
}

@media screen and (min-width: media.$large-laptop-breakpoint) {
  h2 {
    font-size: typografy.$text-headline-lg;
  }
  p {
    font-size: typografy.$text-base-lg;
  }
  .btn-basic {
    h3 {
      font-size: typografy.$text-title-md;
    }
    p {
      font-size: typografy.$text-base-lg;
    }
  }
}

@media screen and (min-width: media.$xl-laptop-breakpoint) {
  h2 {
    font-size: typografy.$text-headline-xl;
  }
  p,
  ul {
    font-size: typografy.$text-base-xl;
  }
  .btn-basic {
    h3 {
      font-size: typografy.$text-title-lg;
    }
    p {
      font-size: typografy.$text-base-xl;
    }
  }
}
