$primary-10: #ff6347;
$primary-9: #f8784a;
$primary-8: #f28a52;
$primary-7: #e8af6f;
$primary-6: #eab770;
$primary-5: #ecbe72;
$primary-4: #f4c361;
$primary-3: #fac94d;
$primary-2: #fdd034;
$primary-1: #ffd700;

$secondary-10: #2d2d2d;
$secondary-9: #373737;
$secondary-8: #404040;
$secondary-7: #4c4c4c;
$secondary-6: #5d5d5d;
$secondary-5: #747474;
$secondary-4: #909090;
$secondary-3: #b2b2b2;
$secondary-2: #d8d8d8;
$secondary-1: #ffffff;

$primary: $primary-7;
$primary-light: $primary-2;

$secondary: $secondary-10;
$secondary-light: $secondary-5;

$link: $secondary-8;
$link-hover: $secondary-5;